<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WavePlayer.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WavePlayer.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <WavePlayer.GUI.Properties.Settings>
            <setting name="WindowWidth" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="WindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LatestOpenedFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="Culture" serializeAs="String">
                <value />
            </setting>
            <setting name="IsUpgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayerVolume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="WavePanelPixelsPerSeconds" serializeAs="String">
                <value>-1</value>
            </setting>
        </WavePlayer.GUI.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <WavePlayer.GUI.Properties.Settings>
            <setting name="LanguageCodeEnglish" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="LanguageCodeJapanese" serializeAs="String">
                <value>ja-JP</value>
            </setting>
            <setting name="LanguageCodeDefault" serializeAs="String">
                <value />
            </setting>
        </WavePlayer.GUI.Properties.Settings>
    </applicationSettings>
</configuration>